/* With help from https://blog.djnavarro.net/posts/2022-04-20_porting-to-quarto/
and https://quarto.org/docs/output-formats/html-themes.html */

/*-- scss:defaults --*/

// Use default Bootswatch as the base
$theme: "default" !default;

// Set theme colours
$theme-primary: #00FF00;
$theme-secondary: #000;
$theme-tertiary: #F2F3F5;

// Import Google Fonts
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap';
@import 'https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap';

// Set font preferences
$font-family-sans-serif: "IBM Plex Sans", sans;
$font-family-monospace: "IBM Plex Mono", mono;

// Navbar highlight colour
$navbar-hl: $theme-primary;

// Footer 
$footer-bg: $theme-secondary;
$footer-fg: $theme-primary;

/*-- scss:rules --*/

// Header and footer bars
.navbar, .footer {
  font-family: $font-family-monospace, monospace;
  color: $theme-primary;
}

// Headers
h1, h2, h3, h4, h5, h6  {
  font-family: $font-family-monospace, monospace;
}

// Title
h1 {
  color: $theme-primary;
}

// Links in body text
.content a {
  text-decoration: none;
  color: $theme-secondary;
  border-bottom: 1px solid $theme-primary;
}

// Links in body text on hover
.content a:hover, .content a:focus {
  background: $theme-primary;
}

// Image captions
.caption {
   font-style: italic;
   font-size: 80%;
}

// Keyboard key
kbd {
  background-color: white;
  border-radius: 3px;
  border: 1px solid $theme-tertiary;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .2), 0 2px 0 0 rgba(255, 255, 255, .7) inset;
  color: #222;
  display: inline-block;
  font-size: .85em;
  font-weight: 700;
  line-height: 1;
  padding: 2px 4px;
  white-space: nowrap;
}

// Tables
table{
  width: 100%;
}

// Table elements
td, th {
  font-weight: normal;
  border-bottom: none;
  padding: 5px;
}

// Custom tip box
.tip {
  padding: 20px 20px;
  border-radius: 1px;
  border-style: solid;
  border-color: $theme-tertiary;
}